app:
  name: frontend-app
replicaCount: 2

image:
  repository: jagkandasamy/frontend
  tag: 0e7a77b
  pullPolicy: Always

service:
  name: frontend-app-service
  type: NodePort
  enabled: true
  port: 80
  targetPort: 80
  nodePort: 30001

serviceAccount:
  create: false
  name: ""

ingress:
  enabled: true
  name: frontend-app-ingress
  host: frontend-app.local
  path: /
  pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  tls: false
  tlsSecret: "" # If TLS is enabled, specify the secret name

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
